@import "tailwindcss";

@utility gradient-color {
    @apply bg-gradient-to-r from-violet-700 from-10% via-red-500 via-50% to-violet-500 to-90%;
}


@theme {
    --color-dark-100: #f5f5f5;
}

html {
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: #000;
    color: var(--color-dark-100);
    font-family: var(--font-semibold);
}

@layer components {
    header {
        @apply w-screen fixed top-0 left-0 z-50 flex items-center justify-center min-h-[7vh];

        nav {
            @apply container mx-auto flex items-center justify-between px-5 2xl:px-0;

            img {
                @apply cursor-pointer hover:-translate-y-0.5 transition-all duration-300 h-20;
            }

            button {
                @apply bg-transparent px-6 py-2 rounded-full cursor-pointer hover:text-white/50 transition-all duration-300;
            }

            ul {
                @apply flex items-center gap-8;

                a {
                    @apply hidden md:block font-medium text-sm cursor-pointer hover:text-white/50 transition-all duration-300;
                }
            }
        }
    }
}

#hero {
    @apply relative h-fit lg:h-[80vh] flex flex-col justify-center items-center mt-40 lg:mt-50 2xl:mt-[7vh];

    div {
        @apply z-10 flex-col justify-center items-center lg:translate-y-10 absolute -top-30 left-0 w-full h-full flex px-5;

        h1 {
            @apply font-bold py-1.5 lg:text-5xl 2xl:text-7xl gradient-color text-transparent bg-clip-text text-center;
        }

        p {
            @apply mt-7 text-center text-sm lg:text-lg 2xl:text-lg max-w-lg text-shadow-lg text-shadow-fuchsia-500/70;
        }
    }

    video {
        @apply mx-auto lg:translate-y-5 2xl:translate-y-0;
    }


    button {
        @apply relative z-10 gradient-color text-white py-2 px-6 mt-10 lg:mt-0 mb-5 rounded-full font-semibold text-lg cursor-pointer hover:bg-white hover:text-black transition-all duration-300 ease-in-out;
    }
}

#products {
    @apply container mx-auto px-5 2xl:px-0 min-h-[90vh] mt-30;

    h1 {
        @apply font-semibold text-4xl lg:text-5xl 2xl:text-7xl text-center mb-10;
    }

    .buttons {
        @apply flex justify-center items-center gap-5 mb-10;

        button {
            @apply bg-transparent border border-white/50 px-5 py-2 rounded-full cursor-pointer hover:bg-violet-600/20 transition-all duration-300;

            &.active {
                @apply gradient-color text-white;
            }
        }
    }
}

#display {
    @apply relative my-20;

    .content {
        @apply flex my-20 items-center justify-center text-center;

        h2 {
            @apply font-semibold text-3xl lg:text-6xl text-white max-w-2xl text-center;
        }

        p {
            @apply font-semibold lg:text-lg 2xl:text-lg max-w-2xl mx-auto text-neutral-400
        }
    }

    .media {
        @apply relative lg:overflow-hidden;

        video {
            @apply w-full object-center object-cover;
        }

        .mask {
            @apply absolute top-0 left-0 h-full;

            img {
                @apply h-full w-full opacity-0;
            }
        }
    }
}

#show {
    @apply w-dvw h-full overflow-hidden pt-20 lg:pt-20 flex flex-col items-center relative;

    h2 {
        @apply font-semibold text-3xl lg:text-6xl text-white max-w-2xl text-center pb-28;
    }

    .wrapper {
        @apply w-7xl 2xl:w-[100rem] h-[50vh] lg:h-[80vh] relative;

        img {
            @apply max-w-40 lg:max-w-[27rem] 2xl:max-w-[35rem] object-cover object-center;
        }

        .s1 {
            @apply absolute bottom-1/2 left-[23%] z-[1] max-sm:left-[33%];
        }

        .s2 {
            @apply absolute bottom-[40%] right-[17%] z-[3] max-sm:right-[37%];
        }

        .s3 {
            @apply absolute bottom-[10%] right-[15%] z-[2] max-sm:right-[35%];
        }

        .s4 {
            @apply absolute bottom-[50%] right-[30%] z-[-4] max-sm:right-[30%];
        }

        .s5 {
            @apply absolute bottom-[10%] left-[20%] -translate-x-1/2 scale-150;
        }
    }

    .content {
        @apply mx-auto max-w-xl mb-20;

        p {
            @apply text-center translate-y-10 opacity-0 px-5 text-white;
        }
    }
}

footer {
    @apply container mx-auto py-7 max-lg:px-5;

    .links {
        @apply flex items-center justify-between gap-5 flex-wrap mb-5;

        a {
            @apply text-sm font-medium cursor-pointer hover:text-white/40 transition-all duration-300;
        }

        ul {
            @apply flex items-center gap-5 flex-wrap py-3 text-neutral-400;
        }
    }

    .info {
        @apply flex items-center justify-center gap-5 flex-wrap text-center text-neutral-400;

        p {
            @apply text-sm font-medium mb-3;

            span {
                @apply mx-0.5;
            }
        }
    }
}