@import "tailwindcss";

@utility gradient-color {
    @apply bg-gradient-to-r from-violet-700 from-10% via-red-500 via-50% to-violet-500 to-90%;
}


@theme {
    --color-dark-100: #f5f5f5;
}

html {
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: #000;
    color: var(--color-dark-100);
    font-family: var(--font-semibold);
}

@layer components {
    header {
        @apply w-screen fixed top-0 left-0 z-50 flex items-center justify-center min-h-[7vh];

        nav {
            @apply container mx-auto flex items-center justify-between px-5 2xl:px-0;

            img {
                @apply cursor-pointer hover:-translate-y-0.5 transition-all duration-300 h-20;
            }

            button {
                @apply bg-transparent px-6 py-2 rounded-full cursor-pointer hover:text-white/50 transition-all duration-300;
            }

            ul {
                @apply flex items-center gap-8;

                a {
                    @apply hidden md:block font-medium text-sm cursor-pointer hover:text-white/50 transition-all duration-300;
                }
            }
        }
    }
}

#hero {
    @apply h-fit lg:h-[80vh] flex flex-col justify-center items-center mt-40 lg:mt-50 2xl:mt-[7vh];

    div {
        @apply relative z-10 flex-col justify-center items-center lg:translate-y-10;

        h1 {
            @apply font-semibold lg:text-3xl 2xl:text-5xl gradient-color text-transparent bg-clip-text text-center;
        }

        p {
            @apply mt-5 text-center text-sm lg:text-base 2xl:text-lg max-w-lg;
        }

        video {
            @apply mx-auto lg:translate-y-5 2xl:translate-y-0;
        }
    }

    button {
        @apply relative z-10 gradient-color text-white py-2 px-6 mt-10 lg:mt-0 mb-5 rounded-full font-semibold text-lg cursor-pointer hover:bg-white hover:text-black transition-all duration-300 ease-in-out;
    }
}